<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.esion.yunluoblog.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="xyz.esion.yunluoblog.entity.Post">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="isEnable" column="is_enable" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="layout" column="layout" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="comments" column="comments" jdbcType="INTEGER"/>
            <result property="permalink" column="permalink" jdbcType="VARCHAR"/>
            <result property="excerpt" column="excerpt" jdbcType="VARCHAR"/>
            <result property="disableNunjucks" column="disable_nunjucks" jdbcType="VARCHAR"/>
            <result property="lang" column="lang" jdbcType="VARCHAR"/>
            <result property="expand" column="expand" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,is_delete,is_enable,
        create_time,update_time,title,
        layout,status,comments,
        permalink,excerpt,disable_nunjucks,
        lang,expand
    </sql>
</mapper>
